<h1> sup </h1>

<% @tweets.each do |tweet| %>
  <p><%= tweet.content %></p>
<% end %>
<!-- 
<p> Here are your tweets, <%= @user.username %>
<% @user.tweets.each do |tweet| %>
  <div>
    <%= tweet.content %>
  </div>
<% end %> -->